<% if record.errors.any? %>
  <div class="error-box">
    <strong><%= pluralize(record.errors.count, "error") %> blocked this save:</strong>
    <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
